<div class="stars-container ">
@if(firstClick===0){
      <span class="rating-text">Clique pour noter</span>
      @for (item of total() ; track $index) {
      @if($index < star()){
        <span class="star"(click)="onStarClick($index+1)">⭐</span>
      }@else{
        <span class="star"(click)="onStarClick($index+1)">☆</span> 
      } 
    }
}@else {
  <span class="rating-text" >{{ star() }}/5</span>
  @for (item of total() ; track $index) {
      @if($index < star()){
        <span class="star"(click)="onStarClick($index+1)">⭐</span>
      }@else{
        <span class="star"(click)="onStarClick($index+1)">☆</span> 
      } 
    }
}

</div>

 

