
.stars-container {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 1.5rem;
  cursor: pointer;
  color: #cbd5e0;
  transition: transform 0.15s ease, color 0.15s ease;
}

.star.filled, 
.star:hover, 
.star:hover ~ .star {
  color: #ffb900;
}


.star:hover {
  transform: scale(1.2);
} 

.rating-text {
  font-weight: 600;
  font-size: 0.7rem;
  color:#1b4d3e;
  margin-bottom: 20px;
}